* {
	font-family: "Glass TTY VT220", Dotum, Roboto, "American Typewriter";
	color: green;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: black;
}

*::selection {
	background-color: white;
}

#terminal {
    margin: 3px;
    height: auto;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
}

tr {
    /* height: 0px; */
    transition: height 1s;
}

td {
	width: auto;
}

/* .show {
    height: 5px !important;
} */

.commandline {
	display: table-cell;
	padding: 0px !important;
	margin: 0px !important;
	width: 95%;
	border: 0px;
	background-color: black;
	font-size: 12px;
	font-weight: bold;
	outline: none;
}
